.wrapper {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
    width: 500px;
    margin: 0 auto;
}

.task-list {
    margin: 0;
    padding: 0;
}

.new-task-btn,
.edit-btn,
.delete-btn {
    background: none;
    border: none;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
    outline: none;
}

.edit-btn:hover {
    color: #3a3A3a;
}

.title {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.task {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.task-input {
    display: none;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
    outline: none;
}

.task-input:focus {
    color: #333;
}


/* Header */

.header {
    text-align: right;
}

.header-img {
    width: 100%;
}

.header-link {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {
    .header {
        text-align: center;
    }
}


/* New Task */

.title-new-task {
    display: block;
    margin: 0 0 20px;
}

.task-row-wrapper {
    display: flex;
}

.new-task-input {
    display: block;
    width: 318px;
}

.new-task-btn:hover {
    color: #0fc57c;
}


/* Task list */

.line {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-checkbox {
    margin: 0 10px;
}

.line>.task {
    padding-left: 10px;
    font-size: 18px;
    width: 226px;
}

.line>.task-input {
    width: 226px;
}

.delete-btn-img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.delete-btn-img:hover {
    transform: rotateZ(0);
}


/* Completed */

.completed-tasks-list .task {
    text-decoration: line-through;
    color: #888;
}


/* Edit Task */

.edit-mode .task-input {
    text-decoration: none;
    display: inline-block;
    width: 224px;
}

.edit-mode-label {
    display: none;
}